body, html {
	background: $base-background-color;
	background-color: $base-background-color;
}


.align-center{
	text-align: center;
}

img{
	max-width: 100%;
}

.scroll-content {
	background: #000 url('../img/background_v.png') no-repeat center center;
	/*opacity: .4; */
}